<div class="backdrop"></div>
<div
  class="dialog-container"
  *ngIf="dialogData">
  <div
    class="close-button"
    (click)=closeDetais()>X</div>
  <img
    src="http://image.tmdb.org/t/p/w185/{{ dialogData.poster_path }}"
    class="poster">
  <div class="details-data">
    <div class="title element">
      {{ dialogData.original_title || dialogData.original_name || dialogData.name }}
    </div>
    <div class="element">
      {{ dialogData.overview }}
    </div>
    <div class="element">
      Genres: {{ genresString }}
    </div>
    <div class="element">
      Released: {{ dialogData.release_date | date }}
    </div>
    <div class="element imdb-link">
      <a href="https://www.imdb.com/title/{{ dialogData.imdb_id }}" target="_blank">Link to IMDB</a>
    </div>
    <div class="element">
      Runtime: {{ dialogData.runtime }} minutes
    </div>
    <div class="element">
      Countries: {{ prodCountriesString }}
    </div>
  </div>
</div>
