.search-container {
    width: 80%;
    margin: auto;
}

.input-container {
    display: inline-flex;
    margin-bottom: 100px;
}

.search-input {
    margin-left: 5px;
    background-color: black;
    color: white;
    font-size: 20pt;
    border-bottom: 1px solid white;
}

.search-label {
    font-size: 20pt;
}

.result-container {
    cursor: pointer;
}

.result-count {
    text-align: left;
    font-size: 14pt;
    margin: 0px 0px 20px 10px;
}

.result-set {
    display: flex;
    flex-wrap: wrap;
    // @media screen and (min-width: 1200px) {
    //     background-color: blue;
    // }
}

.movie-element {
    margin: 0px 10px 10px 10px;
    height: 100%;
    width: 140px;
}

.poster-container {
    height: 100%;
}

.poster {
    width: 140px;
}

.no-poster {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
    font-size: 14pt;
}
