.search-container {
    width: 80%;
    border: 1px solid white;
    margin: auto;
}

.input-container {
    display: inline-flex;
}

.search-input {
    margin-left: 5px;
    background-color: black;
    color: white;
}