<div class="search-container">
  <img class="logo" src="https://static2.clutch.co/s3fs-public/logos/attrecto_logo_320x132px.png">
  <div class="input-container">
    <div class="search-label">Search:</div>
    <div>
      <input
        class="search-input"
        type="search"
        (keyup)="checkInput()"
        [(ngModel)]=searchKey>
    </div>
  </div>
  <div
    *ngIf="searchResult && searchResult.length"
    class="result-container">
    <div class="result-count">{{ searchResult.length }} Search result(s)</div>
    <div class="result-set">
      <div
        *ngFor="let item of searchResult"
        (click)=onOpenDetails(item.id)
        class="movie-element">
          <div class="poster-container">
            <img
              *ngIf="item.poster_path"
              src="http://image.tmdb.org/t/p/w185/{{ item.poster_path }}"
              class="poster">
            <div
              *ngIf="!item.poster_path" 
              class="no-poster">
              No poster found
            </div> 
          </div>
        <div>{{ item.original_title || item.original_name || item.name }}</div>
        <div>{{ item.release_date | date }}</div>
        <div>{{ getGenres(item) }}</div>
      </div>
    </div>
  </div>
  <div
    *ngIf="searchResult && searchResult.length === 0"
    class="no-movies">
    No movies found
  </div>
  <app-detail *ngIf="searchService.isDetailsOpen"></app-detail>
</div>