@import '../../../variables.scss';

.logo {
    width: 100px;
    margin-bottom: 40px;
    display: flex;
}

.search-container {
    margin: auto;
    @media screen and (min-width: $break-small) {
        width: 80%;
    }
}

.input-container {
    display: inline-flex;
    margin-bottom: 100px;
}

.search-input {
    margin-left: 5px;
    background-color: black;
    color: white;
    font-size: 18pt;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    @media screen and (min-width: 0px) {
        width: 250px;
    }
    @media screen and (min-width: $break-small) {
        width: 400px;
    }
    @media screen and (min-width: $break-large) {
        width: 500px;
    }
    @media screen and (min-width: $break-extra-large) {
        width: 600px;
    }
}

.search-label {
    font-size: 20pt;
}

.result-container {
    cursor: pointer;
}

.result-count {
    text-align: left;
    font-size: 14pt;
    margin: 0px 0px 20px 10px;
}

.result-set {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie-element {
    height: 100%;
    width: 140px;
    @media screen and (min-width: 0px) {
        margin: 5px;
    }
    @media screen and (min-width: $break-small) {
        margin: 10px;
    }
}

.poster {
    @media screen and (min-width: 0px) {
        width: 120px;
    }
    @media screen and (min-width: $break-small) {
        width: 140px;
    }
}

.no-poster {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
    font-size: 14pt;
}

.no-movies {
    font-size: 20pt;
}
