$break-extra-large: 1200px !default;
$break-large: 992px !default;
$break-medium: 768px !default;
$break-medium: 576px !default;

body {
    background-color: black;
    color: white;
}

input {
    outline: none;
    border: 1px solid black;
}
